
<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Management System
            <small>Edit Product Information</small>
        </h1>
    </div>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Fields</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Product ID</td>
            <td>{{ ctrl.product.id }}
            </td>
        </tr>
        <tr>
            <td>Product Brand</td>
            <td>
                <div class="input-group">
                    <div class="input-group">
                        <input type="text" class="form-control" size="50" value="ctrl.product.brand" ng-model="ctrl.product.brand">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td>
                    <div class="input-group">
                        <input type="text" class="form-control" size="70" value="ctrl.product.brand" ng-model="ctrl.product.name">
                    </div>
            </td>
        </tr>
        <tr>
            <td>UPC12 number</td>
            <td>
                    <div class="input-group" name="productUPC12">
                        <input type="text" class="form-control" size="20" 
                            maxlength="12"
                            ng-pattern="/^[0-9]*$/" value="ctrl.product.upc12" ng-model="ctrl.product.upc12">
                    </div>
                    <!--<div class="validation" data-ng-show="ctrl.product.upc12.$touched">
                        <div data-ng-show="productUPC12.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span>
                            Only 12 digits allowed
                        </div>
                    </div>-->
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <button type="submit" style="height:50px;width:150px" ng-disabled="ctrl.product.upc12.$invalid" class="btn btn-success" ng-click="ctrl.updateProduct()" ng-invalid>
                Save
            </button>

    <button type="button" style="height:50px;width:150px" class="btn btn-danger" ng-click="ctrl.goSearch()">
                Cancel
            </button>
</div>
