<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Grocery Management System
            <small>Search</small>
        </h1>
    </div>

    <form name="queryFormBrand" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchStringBrand"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchStringBrand"
                   placeholder="Enter Brand of Product" required>
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchByBrand()">
                Search Brand
            </button>
        </div>
    </form>
    <form name="queryFormName" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchStringName"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchStringName"
                   ng-model="ctrl.searchStringName"
                   placeholder="Enter Name of Product" required>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchByName()">
                Search Product Name
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped" ng-show="ctrl.showSearch">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Brand</th>
            <th>Name</th>
            <th>UPC12</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in ctrl.searchList | orderBy: 'name'">
            
            <td>{{ product.id }}</a></td>
            <td>{{ product.brand }}</td>
            <td>{{ product.name }}</td>
            <td><img ng-src="http://www.barcodes4.me/barcode/c128a/{{product.upc12}}.png?IsTextDrawn=1"></td>
            <td>
                <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.goEdit($index)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>